@use 'src/styles/_light-theme.scss';
@use 'src/styles/_dark-theme.scss';

@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    @extend .light-theme;
}

.custom-style {
    button {
        &.mat-button,
        &.mat-raised-button,
        &.mat-flat-button {
            border-radius: 25px;
        }
    }
    .mat-divider {
        border-top-color: #8c8b97;
    }
    button{
        .mat-icon {
            transform: scale(0.6);
        }
        span {
            font-size: .7rem;
            padding-right: 0.25rem;
        }
    }
}
